$red: #cc1717;
$dark-red: #DD001D;
$white: #fff;
$dark: #44464a;
$black: #000;
$purple:#9370d8; 
$pink:#ff80ce; 
$orange:#FFA500;
$dark-orange: #F5A83D; 
$green:#77f697;
$light-black: #030303;
$light-grey:#c4c8ce;
$gold:#d3be89;
$light-gold:#D7BD8E;
$light-bg: #fafafa;
$lightBg: #f5f5f5;
$border-color:#e3e5ea;
$medium-grey:#7b7c7f;
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-52: 52px;
$fw-600: 600;
$fw-400: 400;
$fw-300: 300;
$primary-font-family:sofia-pro ;
$Secondary-font-family:Teko;