.slick-slide {
    margin: 0px 15px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
}

/* Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;

    display: block;

    width: 24px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev {
    right: 110px;
    top: -46px;
}
.slick-prev {
    background: url('../img/arrow-dark-left.svg') no-repeat;
    background-size: auto;
    background-size: 100% auto;
}
.slick-next {
    right: 70px;
    top: -45px;
}
.slick-next {
    background: url('../img/arrow-dark.svg') no-repeat;
    background-size: auto;
    background-size: 100% auto;
}

.event-item-bg .slick-prev {
    background: url('../img/arrow-white-left.svg') no-repeat;
    background-size: auto;
    background-size: 100% auto;
}

.event-item-bg .slick-next {
    background: url('../img/arrow-white.svg') no-repeat;
    background-size: auto;
    background-size: 100% auto;
}
button.slick-arrow.slick-disabled{
    opacity:0.5;
}

.slick-slide a:focus {
    outline: none;
}

@media (max-width:767px){
    .slick-slide {
        margin: 0px 10px;
    }

    .conversation-slider .slick-slide {
        margin: 0px 15px;
    }
    
    .slick-prev {
        right: 60px;
        top: -31px;
    }

    .slick-next {
        right: 20px;
        top: -30px;
    }
}