@font-face {
    font-family: 'Sofia';
    src: url('Sofia-Regular.woff2') format('woff2'),
        url('Sofia-Regular.woff') format('woff'),
        url('Sofia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

